pre
  margin: 0 !important
  padding: 0 !important

.hljs
  padding: 0 !important
  background: rgb(248,248,248) !important

ol,
ul
  padding: 0
  margin: 0

ol,
ul
 padding-left: 20px !important

ol > li,
ul > li
  line-height: 2